* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(3, 205, 27) 100%);
    background-repeat: round ;
  }
  
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background:  black;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

#winDialog{
    left: 0; 
    top: 0; 
    margin-left: 250px;
    margin-top: 50px;
    width: 70%; 
    height: 80%; 
    
    align-items: center;
    flex-direction: column;
    border-radius: 10% / 50%;
    
  }

#win{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly; 
  background-color: white; 
  padding: 20px; 
  border-radius: 5px; 
  text-align: center; 
  font-size: 2em;
}

.titre{
 display: flex;
 justify-content: center;
 font-size: 2.5em;
 align-self: center;
 border-bottom:3px solid black;
}


#dialog {
  position: fixed; 
  left: 0; 
  top: 0; 
  margin-left: 250px;
  margin-top: 50px;
  width: 70%; 
  height: 80%; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10% / 50%;
}
.dialog-content {
  background-color: white; 
  padding: 20px; 
  border-radius: 5px; 
  text-align: center; 
}
#close-btn {
  width: 60%;
  height: 90%;
  margin-top: 10px;
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 1.5em;
}
::backdrop{
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

#alsenic{
  display: flex;
  justify-content: end;
  width: 250px;
  margin-right: 50px;
}
.Presentation{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  
}

.grid_container {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-template-columns: 1fr 1fr  ;
  
  grid-gap: 10px;

}

.grid_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
Span{
  font-size: 1.5em;
}
button{
  font-size: 1.5em;
}