* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(3, 205, 27) 100%);
    background-repeat: round ;
  }
  
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background:  black;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

#winDialog{
    left: 0; 
    top: 0; 
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    width: 50%; 
    height: 80%; 
    align-items: center;
    flex-direction: column;
    border-radius: 10% / 50%;
    
  }

#win{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-evenly; 
  background-color: white; 
  padding: 20px; 
  border-radius: 5px; 
  text-align: center; 
  font-size: 2em;
}

.titre{
 display: flex;
 justify-content: center;
 font-size: 2em;
 align-self: center;
 border-bottom: #000000 2px 400px solid;
 
}


#dialog {
  position: fixed; 
  left: 0; 
  top: 0; 
  margin:auto;
  width: 50%; 
  height: 75%; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10% / 50%;
  font-size: 1.25em;
}
.dialog-content {
  background-color: white; 
  padding: 20px; 
  border-radius: 5px; 
  text-align: center; 
}

::backdrop{
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.85;
}

#alsenic{
  display: flex;
  justify-content: end;
  width: 250px;
  margin-left: 75px;
}
.Presentation{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
}

.grid_container {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-template-columns: 1fr 1fr  ;
  grid-gap: 10px;

}

.grid_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
Span{
  font-size: 1.5em;
}

button{
  margin-top: 30px;
  font-size: 1.1em;
}
#close-btn {
  width: 60%;
  height: 90%;
  margin-top: 15px;
  padding: 10px 20px; 
  cursor: pointer; 
  font-size: 1.5em;
  color:black;
  background-color: rgb(2, 184, 157);
  border:none;
  border-radius:10px;
}

#no-show{
  width: 50%;
  height: 90%;
  margin-top: 30px;
  padding: 10px 20px; 
  cursor: pointer; 
  color: black;
  background-color: white;
  border:none;
  border-radius:30px;
}
#no-show:hover{
  color: black;
  background: radial-gradient(circle, rgba(189,56,175,1) 0%, rgba(176,112,16,1) 50%, rgba(205,8,8,1) 100%);
}
#close-btn:hover{
  color: black;
  background: radial-gradient(circle, rgba(167,130,70,1) 0%, rgba(8,205,30,1) 100%);
}
hr {
  border: none;
  border-top: 5px solid  rgb(2, 184, 157);
  height: 5px;
  width: auto;
}
#Rejouer,#Tutoriel{
  margin-top: 30px;
  padding: 10px 20px; 
  font-size: 1.5em;
  color:  black;
  background-color: rgb(2, 184, 157);
  border-radius:10px;
}